
<div class="header-top-one">
  <div class="auto-container">
      <div class="clearfix">
 <div class="top-left">
 <div class="text"></div>
</div>
          
      </div>
  </div>
</div>

<div class="navigation-bar">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand wow pulse" routerLink="/Flights"><img src="assets/images/travel-fare-img/ss-logo.png" href="Flights" class="img-fluid nav-img"></a>
              <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
      <i class="fa fa-bars"></i>
  </button>

              <div class="collapse navbar-collapse" data-target=".navbar-collapse.show" data-toggle="collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto justify-content-end w-100 wow bounceInRight" id="nav">
                      <li class="nav-item">
                          <a class="nav-link" href="/Flights">Flight <span class="sr-only">(current)</span></a>
                      </li>
                      <!-- <li class="nav-item">
                          <a class="nav-link" href="/hotel" routerLinkActive="active">Hotel</a>
                      </li> -->
                    
                      <li class="nav-item">                          
                                  <a class="nav-link" href="/MyBooking" routerLinkActive="active">My Bookings</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/AgentProfile" routerLinkActive="active">My Profile</a>
                     </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/Support">Support</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " href="/" routerLinkActive="active">Log Out</a>
                    </li>
                      
                  </ul>
              </div>
          </nav>
      </div>

  </div>




