<style>
  .help-block {
      color: red
  }

  .regist {
      width: 100%;
      max-width: 100%;
      padding: 3em 3em 3em 3em;
      margin: 0em auto;
      background-color: #fff;
      border-radius: 0px 0px 5px 5px;
      box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }
</style>
<site-header></site-header>
<div class="register-area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h3>Please find our following BankDetails:</h3>
          </div>
      </div>
      <br>
      <div class="regist">
          <div class="row">
              <div class="col-lg-4">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">BenificiaryName </label>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">Sourcemytrip Pvt Ltd</label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">Bank Name</label>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for=""> : ICICI Bank</label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">Branch</label>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for=""> : KMSVihar</label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">City</label>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for=""> : New Delhi</label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">A/c Number </label>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for=""> : XXXXXXXXXXXX</label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for="">IFSC CODE </label>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="form-group">
                              <label for=""> : XXXXXXXXXXXX</label>
                          </div>
                      </div>
                  </div>
              </div>
           
          </div>
      </div>
      <br>
  </div>
</div>
